*{
    margin: 0px;
    padding: 0px;
<<<<<<< HEAD
    box-sizing: 0px;
}
=======
}

>>>>>>> 72dd6c9 (cambio de imagen y reestructuraci贸n del dom)
html {
    font-size: 62.5%;
    font-family: 'Roboto Mono', monospace;


}
body{
<<<<<<< HEAD
    width: 100%;
    margin: 0px;
    padding: 0 20px 20px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 2px rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
=======
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
    background-color: rgb(255, 255, 255);
}
.subBody{
>>>>>>> 72dd6c9 (cambio de imagen y reestructuraci贸n del dom)
}
.header-flex{
    display: flex;
    justify-content: center;
}
.resize-img{
    display: flex;
    justify-content: row;
    width: 60px;
    height: 60px;
} 
h1 {

<<<<<<< HEAD
    display: flex;
    justify-content: center;
=======
.resize-img{
    width: 120px;
    height: 120px;
    display: block;
    margin: 0 auto;
} 

h1 {
    margin: 0px;
>>>>>>> 72dd6c9 (cambio de imagen y reestructuraci贸n del dom)
    width: 1200px 100px 100px 100px;
    font-size: 50px;
<<<<<<< HEAD
    text-shadow: 3px 3px 15px rgba(217, 7, 171, 0.826);
    color: black;
}
h1::first-letter{
    color: rgb(0, 0, 0);
}
.nav-flex {
    display: flex;
    justify-content: center;
    background-color: white;
    position: sticky;
    top: 0px;
    margin: 4px;
    padding: 4px;
    border: 4px solid black;
    border-radius: 5px;
}
nav ol{
    display: inline-block;
    padding: 15px;
}
nav ol ul{
    display: inline-block;
    margin: 10px 10px 10px 10px;
}

.model-a:link{
    padding: 12px 20px;
    margin: 0px auto;
    font-size: 23px;
    color: white; 
    text-decoration: none;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 30px;

}
.model-a:visited{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.model-a:hover{
    background-color: rgba(249, 179, 250, 0.643);
    cursor: grab;
    border: 1px;
    border-radius: 30px;
}
.model-a:active{
    color: rgb(255, 255, 255);
    cursor: grabbing;
}
.div-h2__sub{
    display: flex;
    justify-content: center;
}

/* Secci贸n de articulos de Pryectos */

.container{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    background-color: blue;
}
.section-backgroundcolor{
    display: flex;
    justify-content: end;
    margin: 0px auto;
    background-color: blue;
}
.article-fix{
    display: block;
    margin: 0px auto;
    width: 500px;
    height: 300px;
    background-color: rgb(223, 223, 255);
}

/* Termina */

.footer-flex{
    margin: 5px;
    padding: 30px 30px;
    border: 5px solid black;
    border-radius: 5px;
    background-color: orange;
    height:20px;
    display: flex;
    flex-wrap: wrap-reverse;
    position: sticky;
    bottom: 5px;
}
.list-flex{
    margin: 0px 7px;
    padding: 0px;
    width: 50%;
    border: 1px transparent;
    height: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.ul-flex{
    display: block;
}
.b{
    color: white;
    background-color: cadetblue;
    border: 1px solid black;
    margin: 4px 4px;

}
h3{
    display: block;
}
p{
    display: block;
}

p:hover::before {
    content: "";
}
p:hover::after {
    content: "";
}
input{
    display: inline;
    width: 10%;
    margin: 20px;
    padding: 10px;
}

::placeholder{
    color: grey;
}

@media (max-width:390px){
    .section-backgroundcolor{
       display: flex;
       flex-direction: column;
    }
}
=======
    text-shadow: 3px 3px rgba(217, 7, 171, 0.826);
    color: black;
}
nav ol{
    background-color: black;
}

a:link{
    font-size: 20px;
    color: white; 
}
a:visited{
    color:orange;
}
a:hover{
    font-size: 25px;
    cursor: grab;
}

a:active{
    color: red;
    cursor: grabbing;
}

article{
    margin: 0px;
    padding: 0px;
    border: 1px solid black;
}
p {  
    margin: 0px;
    padding: 25px 25px 25px 25px;
    border: 1px solid black;
    color: red;
  }
>>>>>>> 72dd6c9 (cambio de imagen y reestructuraci贸n del dom)
